<h2>Create Post</h2>

<!-- form for creating post -->
<form class="">
    <div class="input_">
        <label for="userTitle">Post Title:</label>
        <input class="" type="text" id="userTitle"/>
    </div>
    <div class="input_">
        <label for="userBody">Post Body:</label>
        <input class="" type="text" id ="userBody"/>
    </div>
    <div class="input_">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="/js/create.js"></script>