<h2>Create Post</h2>

<!-- form for creating post -->
<form class="form createForm">
    <div class="input">
        <label for="title">Post Title:</label>
        <input class="" type="text" id="title"/>
    </div>
    <div class="input">
        <label for="user">Post Body:</label>
        <input class="" type="text" id ="user"/>
    </div>
    <div class="input">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="/js/create.js"></script>