<h2>Create Post</h2>

<!-- form for creating post -->
<form class="createForm">
    <div class="entryDiv">
        <label for="userTitle">Post Title:</label>
        <input class="formInput" type="text" id="userTitle"/>
    </div>
    <div class="entryDiv">
        <label for="userBody">Post Body:</label>
        <input class="formInput" type="text" id ="userBody"/>
    </div>
    <div class="entryDiv">
        <button class="btn btn-primary" type="submit">Submit</button>
    </div>
</form>

<script src="/js/create.js"></script>