<h2>Edit Post</h2>

<p>Post Title: {{post.title}}</p>
<p>Post Content: {{post.post_content}}</p>
<!-- form for editing post -->
<form class="">
    <div class="">
        <label for="userTitleEdit">Post Title:</label>
        <input class="" type="text" id="userTitleEdit" value="{{post.title}}"/>
    </div>
    <div class="">
        <label for="userBodyEdit">Post Body:</label>
        <textarea class="" type="text" id ="userBodyEdit">{{post.post_content}}</textarea>
    </div>
    <div class="">
        <button class="btn btn-primary" type="submit" id="editBtn">Submit</button>
    </div>
    <div class="">
        <button class="btn btn-primary" type="submit" id="deleteBtn">Delete</button>
    </div>
</form>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>