<h2>Edit Post</h2>

<p>Post Title: {{post.title}}</p>
<p>Post Content: {{post.post_content}}</p>
<!-- form for editing post -->
<form class="editForm">
    <div class="entryDiv">
        <label for="userTitleEdit">Post Title:</label>
        <input class="formInput" type="text" id="userTitleEdit" value="{{post.title}}"/>
    </div>
    <div class="entryDiv">
        <label for="userBodyEdit">Post Body:</label>
        <textarea class="formInput" type="text" id ="userBodyEdit">{{post.post_content}}</textarea>
    </div>
    <div class="entryDiv">
        <button class="btn btn-primary" type="submit" id="editBtn">Submit</button>
    </div>
    <div class="entryDiv">
        <button class="btn btn-primary" type="submit" id="deleteBtn">Delete</button>
    </div>
</form>

<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>