<h2>Login</h2>

<!-- Form for logging in -->
<form class="loginForm">
    <div class="entryDiv">
        <label for="userLogin">Username:</label>
        <input class="formInput" type="text" id="userLogin"/>
    </div>
    <div class="entryDiv">
        <label for="passwordLogin">Password:</label>
        <input class="formInput" type="password" id ="passwordLogin" autocomplete="current-password"/>
    </div>
    <div class="entryDiv">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div class="signUpDiv">
        <a href="/signup">Sign Up Here</a>
    </div>
</form>

<script src="/js/login.js"></script>