<h2 class="title">Login</h2>

<!-- Form for logging in -->
<form class="form loginForm">
    <div class="input">
        <label for="login">Username:</label>
        <input class="input" type="text" id="login"/>
    </div>
    <div class="input">
        <label for="pass">Password:</label>
        <input class="input" type="password" id ="pass" autocomplete="current-password"/>
    </div>
    <div class="login">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div class="link">
        <a href="/signup">Sign Up Here</a>
    </div>
</form>

<script src="/js/login.js"></script>