<h2>Login</h2>

<!-- Form for logging in -->
<form class="">
    <div class="">
        <label for="userLogin">Username:</label>
        <input class="" type="text" id="userLogin"/>
    </div>
    <div class="">
        <label for="passwordLogin">Password:</label>
        <input class="" type="password" id ="passwordLogin" autocomplete="current-password"/>
    </div>
    <div class="">
        <button class="btn btn-primary" type="submit">Login</button>
    </div>
    <div class="">
        <a href="/signup">Sign Up Here</a>
    </div>
</form>

<script src="/js/login.js"></script>