<h2 class="title">Sign Up</h2>

<!-- Form for signing up -->
<form class="form signUpForm">
    <div class="">
        <label for="userSignUp">Username:</label>
        <input class="input" type="text" id="userSignUp"/>
    </div>
    <div class="">
        <label for="emailSignUp">Email:</label>
        <input class="input" type="email" id="emailSignUp"/>
    </div>
    <div class="">
        <label for="passwordSignUp">Password:</label>
        <input class="input" type="password" id ="passwordSignUp"/>
    </div>
    <div class="">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <div class="link">
        <a href="/login">Log In Here</a>
    </div>
</form>

<script src="/js/signUp.js"></script>