<h2>Sign Up</h2>

<!-- Form for signing up -->
<form class="">
    <div class="">
        <label for="userSignUp">Username:</label>
        <input class="" type="text" id="userSignUp"/>
    </div>
    <div class="">
        <label for="emailSignUp">Email:</label>
        <input class="" type="email" id="emailSignUp"/>
    </div>
    <div class="">
        <label for="passwordSignUp">Password:</label>
        <input class="" type="password" id ="passwordSignUp"/>
    </div>
    <div class="">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <div class="">
        <a href="/login">Log In Here</a>
    </div>
</form>

<script src="/js/signUp.js"></script>