<h2>Sign Up</h2>

<!-- Form for signing up -->
<form class="signUpForm">
    <div class="entryDiv">
        <label for="userSignUp">Username:</label>
        <input class="formInput" type="text" id="userSignUp"/>
    </div>
    <div class="entryDiv">
        <label for="emailSignUp">Email:</label>
        <input class="formInput" type="email" id="emailSignUp"/>
    </div>
    <div class="entryDiv">
        <label for="passwordSignUp">Password:</label>
        <input class="formInput" type="password" id ="passwordSignUp"/>
    </div>
    <div class="entryDiv">
        <button class="btn btn-primary" type="submit">Sign Up</button>
    </div>
    <div class="loginDiv">
        <a href="/login">Log In Here</a>
    </div>
</form>

<script src="/js/signUp.js"></script>